.box-1{
    width: 100px;
    height: 100px;
    background: chocolate;
}
.box-2{
    width: 100px;
    height: 100px;
    background: yellowgreen;
}
.box-3{
    width: 100px;
    height: 100px;
    background: pink;
}
.box-4{
    width: 100px;
    height: 100px;
    background: gray;
}
.box-5{
    width: 100px;
    height: 100px;
    background: purple;
}


.flex {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
}
.father {
    display: flex;
    width:500px; 
    height: 800px;
    border: 1px solid black;
}

.children {
    height: 300px;
}

.children-1 {
    background: black;
    width: 300px;
    align-self: center;
}

.children-2 {
    background: peru;
    width: 300px;
    align-self: flex-end;
}

.children-3 {
    background: orchid;
    width: 300px;
    align-self: stretch;
}